<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,22}}</string>
        <key>sourceSize</key>
        <string>{42,22}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{40,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,24}}</string>
        <key>sourceSize</key>
        <string>{40,24}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,22},{40,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,24}}</string>
        <key>sourceSize</key>
        <string>{40,24}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{38,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,26}}</string>
        <key>sourceSize</key>
        <string>{38,26}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,24},{36,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,28}}</string>
        <key>sourceSize</key>
        <string>{36,28}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{38,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,26}}</string>
        <key>sourceSize</key>
        <string>{38,26}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,24},{36,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,28}}</string>
        <key>sourceSize</key>
        <string>{36,28}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,22}}</string>
        <key>sourceSize</key>
        <string>{42,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{120,52}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
